<h1>Lazy</h1>
<p>Make me load lazy!</p>
<div class="scroller">
  <ul>
    <li>keep scrolling 1</li>
    <li>keep scrolling 2</li>
    <li>keep scrolling 3</li>
    <li>keep scrolling 4</li>
    <li>keep scrolling 5</li>
    <li>keep scrolling 6</li>
    <li>keep scrolling 7</li>
    <li>keep scrolling 8</li>
    <li>keep scrolling 9</li>
    <li>keep scrolling 10</li>
    <li>keep scrolling 11</li>
    <li>keep scrolling 12</li>
    <li>keep scrolling 13</li>
    <li>keep scrolling 14</li>
    <li>keep scrolling 15</li>
    <li>keep scrolling 16</li>
    <li>keep scrolling 17</li>
    <li>keep scrolling 18</li>
    <li>keep scrolling 19 (is there better way to make this whole list?)</li>
    <li>keep scrolling 20</li>
  </ul>
  <app-even-lazier></app-even-lazier>
</div>
