:host {
  display: block;
}

.error {
  color: indianred;
}

ul {
  li {
    a, a:visited {
      color: aqua;
      text-decoration: none;

      &.active {
        text-decoration: underline;
      }
    }
    font-size: 1.35em;
  }
}
