<p style="display: none">
Постановка задачи:
 1. Нужно рассчитать расстояние от начала координат (x=0,y=0) до введеной пользователем точки.
 2. X и Y точки, до которой будет рассчитываться расстояние вводятся пользователем через форму ввода.
 3. Результат, если все введено корректно, отображается только после нажатия кнопки "Рассчитать". Если
    расстояние уже рассчитано, то показанный результат рассчета сразу же обновляется, если все корректно,
    иначе должен отобразиться текст "Введите корректное значение для рассчета!", а в "контроллере"
    компонента расстояние должно быть NULL.
 4. Уже сейчас известно, что компонент будет использоваться во многих частях приложения, пожалуйста,
    максимально оптимизируйте его производительность.
 5. Пожалуйста, максимально соблюдайте стандарты html-5 в разметке компонента.
 6. Известно, что компонент планируется дорабатывать и улучшать его функциональность в течение нескольких
    следующих итераций, не смотря на то, что он выглядит довольно простым на старте разработки. Постройте
    архитектуру компонента исходя из этих сведений.

Требования к вводу X, Y:
 1. Это корректное целое число - integer.
 2. X не может быть более 100 и менее -100, y не может быть более 50 и менее -50.

 Дополнительные задания:
 1. Теория: Известно, что компонент доступен по роуту '/awesome-and-large-ng-calculation'. Известно,
    что этот роут будет "большой" по весу (предположим, целых 5мб+). Какие появляются связанные с
    этим проблемы? Как их можно решить?
 2. Добавьте возможность отключать компонент извне (set disabled state). Когда компонент находится
    в disabled state - в поля для ввода ничего нельзя вводить, а результат, если он рассчитан,
    должен быть скрыт (не виден пользователю)
 3. Компонент должен уметь сообщать "во вне" о следующих изменениях:
    3.1 Изменение статуса "корректности" ввода данных - valid, invalid. Т.е. переходы valid->invalid
        и invalid->valid. В случае, когда "корректность ввода данных" не меняется (valid->valid) -
        сообщать об этом во вне не нужно.
    3.2 Изменение данных в формате isValid: boolean; x: number, y: number, resultDistance: number | null;
 4. При фокусировке компонента (focus()) должно быть выделено первое доступное к вводу поле. Учтите, что
    нативный html-метод фокус должен поддерживаться и следовать такой же логике
</p>

implement me please!
