table.app {
  table-layout: fixed;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  td {
    height: 100%;
    vertical-align: baseline;

    &.left {
      width: 200px;
      background: dimgray;
      color: white;
      padding-left: 8px;
    }

    &.right {
      padding-left: 16px;
      width: 100%;
    }
  }
}
